@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
  }

#header, #hero-section{
    background-image: linear-gradient(to right, #e3d2bf, rgba(248,247,243,255));
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    position:relative;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#header{
    position: relative;
    top:0;
    width:100%;
    padding:20px 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo{
    position:relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}
#header .logo span{
    color:#ffefba;
    text-shadow: 2px 2px #ffefba;
    font-style: italic;
    font-weight: 300;
}

#header .navigation a{
    color: #000;
    text-decoration: none;
    font-weight:300;
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    padding:10px 10px;
    transition: 0.3s;
    transition-property: #e3d2bf;
}

#header .navigation a:hover{
    background:#e3d2bf;
}

#hero-section{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap:20px;
    height: 400px;
    margin: 0 0px 90px;
}

.hero-h3, .hero-h5, hero-img, hero-btn{
    float:left;
    margin:0px 100px;
}
.hero-h3{
    margin-top: 0px;
    color:#EFAEA1;
    font-size:30px;
    letter-spacing: 2px;
    line-height:10px;
}

.hero-h3 span{
    text-shadow: 2px 2px #ffefba;
    font-style: italic;
    font-weight: 800;
}
.hero-h5{
    font-size: 15px;
    margin-left:160px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.hero-btn{
    color:black;
    background: #EFAEA1;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    padding:15px 5px;
    width:120px;
    margin-left: 350px;
    cursor: pointer;
    margin-top:-20px;
}
.hero-btn:hover{
    background-color:#f0aa9ca2;
    color:white;
}
.hero-img{
    float: right;
    margin:0px -100px;
    margin-top:60px;
    width:700px;
    height:340px;
}

#about-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.about-h3{
    font-size:20px;
    font-weight: 400;
    margin:20px 170px;
}

.choose-h3{
    font-weight: 500;
    text-align:center;
    margin:100px 400px;
}

.ul-about{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    float:right;
    font-size:20px;
    margin-right:30px;
}
.ul-img{
    margin-left: 100px;
    transform: skew(1deg, 10deg);
}

.stat{
    margin-top: 100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap:200px;
    height: 400px;
    
}

.stat h2{
    position:relative;
    top:60px;
    left:120px;
    font-size: 30px;
}
.stat h3{
    margin-top: 200px;
    position:relative;
    bottom:80px;
    right:600px;
    margin-right:-500px;
    font-size:20px;
    line-height: 30px;
    gap:29px;
    font-weight: 300;
}

.stat-img{
    width:400px
}

.personalized-section{
    font-size:20px;
    font-weight: 300;
    position:relative;
    text-align: center;
}

#platform-sec{
    width:100%;
    height:800px;
    background-color: rgb(216, 175, 167);
    margin-top:100px;

}

.plat-sec{
    position: relative;
    top:70px;
    left:100px;
    color:#fff;
    font-size:30px;
}

.plat-sect{
    position: relative;
    top:70px;
    left:100px;
    color:#f56d5196;
    font-size:20px;
    font-weight: 400;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-;
    font-size:20px;
    position:relative;
    left:100px;
    color:#fff;
}
.plat{
    flex-basis: 33%;
    margin-top:100px; 
}

.plat h5{
    font-weight: 300;
}

#plat1{
    position:relative;
    left:230px;
}

#quote-section{
    text-align: center;
    margin-top:100px;
    margin-bottom:100px;
}

footer{
    width:100%;
    height:200px;
    background-color: #dfd4d2;
}

footer ul{
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap:70px;
    
}

footer ul li{
    list-style-type: none;
    margin-top:40px;
    font-weight: bold;
}
footer ul li:hover{
    color:#EFAEA1
}

.wrapper{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap:30px;
    color:#000;
    font-size: 20px;
}

.wrapper a{
    color:#fff;
}

.wrapper a:hover{
    color:#e3d2bf;
}